.home {
    min-height: 200vh;
    width: 100%;
    background-color: #000;

    .banner {
        height: 660px;
        width: 100%;
        background-position: top;
        background-size: cover;
        position: relative;

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6); 
            z-index: 1; 
          }

        .content {
            z-index: 2;
            color: #fefefe;
            position: absolute;
            height: 50%;
            width: 50%;
            top: 25%;
            left: 5%;

            h1 {
                width: 70%;
                text-align: left;
            }

            .part1,
            .part2 {
                font-family: "Bodoni Moda SC", serif
            }

            .part1 {
                font-size: 3.8vw;
            }

            .part2 {
                font-size: 2.4vw;
            }

            p {
                font-size: 1.2vw;
                margin-top: 1.2vw;
                width: 85%;
                align-items: justify;
                line-height: 1.4vw;
            }

            .wishlist {
                background-color: #444442;
                color: #fefefe;
            }

            .play{
                background-color: #fefefe;
            }

            .play,
            .wishlist {
                font-size: 1.8vw;
                border-radius: 8px;
                border: none;
                outline: none;
                padding: 0.6vw 0.8vw;
                margin-top: 1vw;
                margin-right: 1vw;
                cursor: pointer;

                i {
                    font-size: 1.8vw;
                }
            }
        }
    }
}

.row {
    padding-top: 1.6vw;

    h2 {
        font-size: 2vw;
        padding: 2vw 3vw;
        color: #fefefe;
    }

    .cardcontainer {
        display: flex;
        align-items: center;
        gap: 2vw;
        padding: 0 1vw;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        .card {
            flex: 0 0 250px;
            height: 350px;
            width: 250px;
            overflow: hidden;
            cursor: pointer;
            position: relative;
            border-radius: 10px;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
                transition: all ease-in 0.25s;

                &:hover {
                    transform: translateY(-10px) scale(1.1);
                }
            }

        }
    }


}